<h1><%= @user.name %>'s Movie Page</h1>
<br>
<%= button_to "Top Rated Movies",  "/users/#{@user.id}/movies?q=top%20rated", method: :get%>
<br>
<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <br>
  <%= f.text_field :query, label: "Search by Title", placeholder: 'ex: Stepbrothers' %>
  <%= f.submit "Find Movies" %>
<% end %>
